* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(246, 240, 240);
}

thead {
    background-color: #07e3f3;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #050505;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.Edición {
    color: #1900a7;
}

.Eliminar {
    color: #ffa04c;
}
